.search-items-container {
  display: flex;
  margin-bottom: 80px;

  .search-item {
    background-color: $yellow;
    width: 203px;
    height: 53px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  
    .search-item-name {
      display: inline;
    }
  
    .search-item-close:hover {
      cursor: pointer;
    }
  }
}
